<html>
   <head>
    <title>ConnectFour</title>
    <link rel='stylesheet' href='public/css/style.css' type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="public/js/create-game.js"></script>
  </head>
  <body> 

    <div class="container-fluid main" style="margin-top: 50px;">   
      <div class="row">
        <div class="col-sm-1">
          <form id="joinForm" action="/game" method="post"> 
            <input type="hidden" id="player_no" name="player_no" value="1" /> 
            <input type="hidden" id="game_id" name="game_id" /> 
          </form>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <label for="game_name">Game :</label>
            <input type="text" class="form-control" id="game_name" name="game_name">
          </div>
          <div class="form-group">
            <input type="button" id="create_game" class="btn btn-success" value="Next" class="form-control"/> 
          </div>
        </div>        
        <div class="col-sm-1">
          <input type="hidden" id="username" value="<%= username %>" /> 
          <input type="hidden" id="playerid" value="<%= playerid %>" /> 
        </div>
      </div>     
      
    </div>
  </body>
</html>