body {
  font-family: 'Palatino', 'Garamond', serif;
}

h1 {
  font-size: 2em;
}

.info {
  text-align: center;
}

.board button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background: #bbb;
}

button.red {
  background: #ad0505;
  background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);
}

button.black {
  background: #000;
  background: linear-gradient(to bottom, #333 0%,#000000 100%);
}

.player {
  text-transform: capitalize;
}

.info .red {
  color: red;
}

.info .black {
  color: black;
}

.play-again {
  display: none;
}
.play-again {
  display: inline-block;
  margin-bottom: 2em;
  height: 40px;
  line-height: 40px;
  width: 50%;
  background: mediumseagreen;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  opacity: 0.9;
}
.play-again:hover {
  opacity: 1;
}

@media (max-width: 460px) {
  .message {
    font-size: 1.3em;
  }

  .wrapper {
    margin: 20px auto 0;
    width: 240px;
  }

  .board button {
    width: 30px;
    height: 30px;
  }
}